name: github pages

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - name: Build 
      run: npm install && npm run-script build

    - run: mv "/home/actions/actions-runner/_work/procure-wip/build/config-override-demo.json /home/actions/actions-runner/_work/procure-wip/config-override.json
      shell: bash

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./build